body{
  font-family: "Bitter", serif;
}

.font-dosis{
  font-family: "Dosis", sans-serif; !important;
}

/* definiscono le variabili css dove conservo il valore hex del colore */
:root {
  --1-color: #053328;
  --2-color: #1A3535;
  --3-acc: #593959;
}


/* variabile testo */
/* .tx-1{
  color: #053328;
}

.tx-2{
  color: #1A3535;
}

.tx-acc{
  color: #593959;
} */


/* bgc */

.bg-1{
  background-color: var(--1-color);
}

.bg-2{
  background-color: var(--2-color);
}

.bg-acc{
  background-color: var(--3-acc);
}

/* border */
.borde-1{
  border: 1px solid var(--1-color);
}

.berde-2{
  border: 1px solid var(--2-color);
}

.borde-acc{
  border: 1px solid var(--3-acc);
}

.dove-trovarli-sticky {
  position: sticky;
  top: 150px;
}

.bg-image {
  background-image: url(./assets/mountain.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--det-color);
  border: 1px solid white;
}

.slide1 {
  height: 100vh;
  width: 100%;
  background-image: url(./immagini/forestaammazzonica.jpg);
  background-position: center;
  background-size: cover;
}
.slide2 {
  height: 100vh;
  width: 100%;
  background-image: url(./immagini/savana.jpg);
  background-position: center;
  background-size: cover;
}
.slide3 {
  height: 100vh;
  width: 100%;
  background-image: url(./immagini/savanaasiatica.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  opacity: 0;
  transition: 0.5s;
}

.carousel-item.active .carousel-caption {
  opacity: 1;
  top: 40%;
}